* {
    box-sizing: border-box;
}

body {
    background-color:rgb(53, 53, 53) ;
    overflow: hidden;
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
}

.bodymc {
    background: -webkit-linear-gradient(blue, green);
    /* background-image: url(Minecraft/minecraft-BIG.jpg); */
}

.button {
    background: -webkit-linear-gradient(rgb(0, 110, 255), rgb(22, 212, 16));
}